
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
}

.nav-content ul{
    display: flex;
    margin-left: 600px ;
}
.nav-content ul li{
    list-style: none;
    
}

.nav-content ul li a{
    text-decoration: none;
    padding: 10px;
    color: #fff;
    


}

#navbar .logo{
    padding: 0 2rem;
}